/*ESTILO GERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex {
    display: flex;
  
}

#btn-contato-inicio button{
    padding: 10px 40px;
   font-size: 18px;
    font-weight: 600px;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    margin-top: 50px;
 
}

#btn-contato-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-inicio_a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 8px rgba(0, 255, 8, 0.151)

}

.dados-conteiner{
    display: flex;
    margin-top: px;
}

.pages, .projetos, .eu{
   flex: 1;
   text-align: center; 
   font-size: 20px;
   
   
}




.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
  

}

.btn-contato button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px 8px rgba(0, 255, 8, 0.151)

}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}


/*ESTILO DO CABEÇALHO*/

header {
    padding: 40px;
    
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: #817e7e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 18px;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}



header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li  {
    display: inline-block;
    padding: 0 70px;

}


.menu-mobile {
    display: none;
}

/* ESTILO DO TOPO DO SITE*/

section#topo-do-site  {
    padding: 40px 4%;
    height: 90vh;
}

section#topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    text-align: center;
}

#topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}

#topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
}

#topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILOS DAS ESPECIALIDADES */

section#especialidades {
    padding: 40px 4%;
    height: 100vh;
}

section#especialidades .flex {
    gap: 60px;
}

#especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 70px;
    transition: .2;


}

#especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 18px #ffffff17;
}

#especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;
}

#especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
}

/*ESTILO DO SOBRE*/

section#sobre {
    padding: 80px 4%;
    height: 110vh;
}

section#sobre .flex {
    align-items: center;
    gap: 60px;
}

#sobre .txt-sobre {
    color: #fff;
}

#sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

#sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}

#sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social  :hover{
    background-color: azure;
}















/*ESTILO DO PORTFÓLIO*/


section#portfolio {
    padding: 80px 4%;

    height: 120vh;
}

section#portfolio.flex {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

#portfolio .video-port p {
    color: #fff;
}


#portfolio .video-port:nth-child(1) {
    text-align: left;
    margin-right: auto;
}

/* Estilos para o segundo vídeo à direita */
#portfolio .video-port:nth-child(2) {
    text-align: right;
    margin-left: auto;
}


/* Estilo link projetos*/

.link-container{
    text-align: center;
}

#portfolio .link-container a {
    color: #00ff08;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    border-radius: 5px;
    transition: background-color 0.2s;
}

#portfolio .link-container a:hover {
    background-color: #00ff08;
    color: #000;
}

/* ESTILLO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00ff08;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/*Botão do Zap*/

.whatsapp-btn-container{
    position: fixed;
    right: 30px;
    opacity: 0;
    bottom: -50px;
    padding: 24px;
    animation: fade-up 100ms forwards;
    animation-delay: 1000ms;
}

@keyframes fade-up {
    100%{
        bottom: 24px;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn{
    font-size: 60px;
    color: #00ff08;
    display: inline-block;
    transition: all 400ms;
}

.whatsapp-btn-container span{
    position: absolute;
    top: 0;
    left: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    transform: rotateZ(20deg) translate(10px);
    opacity: 0;
    transition: all 400ms;
}

.link-container a:hover{
    transform: scale(1.2);
}


.whatsapp-btn-container .whatsapp-btn:hover + span{
    transform: rotateZ(0deg) translate(0px);
    opacity: 1;
}

.whatsapp-btn-container .whatsapp-btn:hover{
    transform: scale(1.2);
}


@media screen and (min-width: 1021px) {

    .btn-abrir-menu,
    .menu-mobile {
        display: none;
    }
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    #topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    #topo-do-site .flex {
        gap: 40px;
    }

    section#topo-do-site {
        padding: 20px 8%;
    }

    #topo-do-site h1 {
        font-size: 30px;
    }

    #topo-do-site .img-topo-site img {
        width: 100px;
    }

    /* ESPECIALIDADES */
    section#especialidades {
        padding: 40px 8%;
    }

    /*SOBRE */
    section#especialidades {
        padding: 40px 8%;
    }

    /* SOBRE */

    section#sobre {
        padding: 80px 8%;
    }

    #sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    
    /*PORTFÓLIO*/
    section#portfolio.flex {
        flex-wrap: wrap; /* Adicionado para que os itens possam quebrar para a próxima linha */
        justify-content: center; /* Centraliza os itens na linha */
    }

    #portfolio .video-port {
        text-align: center; /* Centraliza o texto */
        margin: 0 auto; /* Centraliza o bloco */
        max-width: 400px; /* Adapte o valor conforme necessário */
        margin-top: 20px; /* Adiciona um espaço entre os vídeos */
    }

    #portfolio .video-port:nth-child(2) {
        margin-top: 20px; /* Adiciona um espaço entre os vídeos */
    }


    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;

    }

    /* ESTILO DO MENU MOBILE */
    .btn-abrir-menu i {
        color: #00ff08;
        font-size: 40px;
    }

    .menu-mobile {
        background-color: #000;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .5s;
        display: block;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile.abrir-menu~.overlay-menu {
        display: block;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 5%;
    }

    .menu-mobile .btn-fechar i {
        color: #00ff08;
        font-size: 30px;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul a {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
        display: block;
    }

    .menu-mobile nav ul a:hover {
        background-color: #00ff08;
        color: #000;
    }

    .overlay-menu {
        background-color: #000000df;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }

/*Estilo especialidades*/



}